@import './colours';

.btn {
  padding: 10px 18px;
  font-size: 20px;
  font-family: inherit;
  border: none;
  background: color(accent);
  border-radius: 2px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;

  &:focus {
    outline: 2px solid black;
  }

  &.btn-default {
    background: color(accent);
    color: #fff;
  }

  &.btn-primary {
    background: color(primary);
    &:hover,
    &:focus {
      text-decoration: underline;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
    }
  }

  &.btn-ghost {
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: #fff;
    }
  }

  &:disabled {
    background: #bfbfbf;
    color: #7f7f7f;
    cursor: not-allowed;

    &:hover,
    &:focus {
      background: darken(#bfbfbf, 3%);
      color: #7f7f7f;
      cursor: not-allowed;
    }
  }
  &.btn-round {
    border-radius: 50%;
    line-height: 1;
  }
}

.hamburger-btn {
  border: none;
  background: transparent;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;

  span:not(.sr-only) {
    width: 22px;
    height: 2px;
    border-radius: 6px;
    background: color(nearly-black);
    position: absolute;
    left: 4px;
    top: 12px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);

    &:nth-of-type(2) {
      top: 22px;
    }
  }

  &:hover {
    span:not(.sr-only) {
      background: color(primary);
    }
  }

  &:focus {
    outline: none;

    span:not(.sr-only) {
      background: color(secondary);
    }
  }

  &.hamburger-close {
    span:not(.sr-only) {
      top: 18px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);

      &:nth-of-type(2) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }
}

.btn-group {
  &.btn-group__vertical {
    .btn-group-item {
      display: block;
      margin: 16px 0;

      .btn {
        display: block;
        margin-top: 0.5rem;
      }
    }
  }
}
