.chip {
  padding: 0.3rem 0.8rem;
  background: color(accent);
  border-radius: 10px;
  line-height: 1;
  font-size: 0.75rem;
  color: #fff;
  margin: 0.5rem 1rem 0 0;
  display: inline-block;
  user-select: none;
  transition: 0.3s;
  &:hover {
    background: darken(color(accent), 10%);
  }
}
