@import '../../../styles/layout/grid';
#images-container {
  align-items: center;
  padding-top: 32px;
  justify-content: center;
  @include breakpoint(md) {
    justify-content: flex-start;
  }
  div {
    margin-bottom: 8px;
    overflow: hidden;
  }

  img {
    width: 100%;
    transition: 1s;
  }

  .lazy-load {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
}
