#images-container {
  align-items: center;
  justify-content: center;
  div {
    margin-bottom: 8px;
    overflow: hidden;
  }
  img {
    width: 100%;
    transition: 3s;
  }
  .lazyLoad {
    filter: blur(3px);
  }
}
