<app-grid>
  <div class="col-md-6" id="text">
    <h1>About Me</h1>
    <h2>Personal Details</h2>
    <p>I am a developer currently living in London. Since beginning my career in the software industry, I have built up a substantial set of skills, knowledge and understanding.</p>
    <h2>Technical Skills</h2>
    <p>I possess skills in the following technologies:</p>
    <ul>
      <li>
        <p>JavaScript</p>
      </li>
      <li>
        <p>TypeScript</p>
      </li>
      <li>
        <p>SCSS</p>
      </li>
      <li>
        <p>Angular</p>
      </li>
      <li>
        <p>Node</p>
      </li>
      <li>
        <p>Webpack</p>
      </li>
      <li>
        <p>Jasmine Testing</p>
      </li>
      <li>
        <p>Progressive Web Apps</p>
      </li>
      <li>
        <p>PHP</p>
      </li>
      <li>
        <p>MySQL</p>
      </li>
      <li>
        <p>Java</p>
      </li>
    </ul>
    <p>In addition to the above, I am looking to learn C# and C++.</p>
    <p>I am also fascinated by the potential of Machine Learning, Artificial Intelligence and Big Data and would relish the opportunity to learn these topics.</p>
    <h2>Hobbies & Interests</h2>
    <p>When not tapping away at a keyboard, I will be playing guitar, taking photos or bingeing on the latest documentaries.</p>
    <h2>Fun Facts</h2>
    <p><strong>Favourite Colour: </strong>Blue</p>
    <p><strong>Blood Type: </strong>O+</p>
    <p><strong>Dominant Hand: </strong>Right</p>
    <p><strong>Favourite Animal: </strong>Ant</p>
    <p><strong>Personality Type: </strong>INTP</p>
  </div>
  <div class="col-md-6" id="image">
    <div class="img-container">
      <img data-src="../../assets/me_round.png" src="./../../assets/me_round_thumbnail.png" alt="An image of myself" #image class="lazyload" />
    </div>
  </div>
</app-grid>
