<div id="profile">
  <div class="name">
    <h2>{{ cv.name }}</h2>
  </div>
  <div class="cv-tagline">
    <span class="subtitle">{{ cv.jobTitle }}</span>
  </div>
  <div class="contact">
    <span
      ><a href="mailto:{{ cv.contact.email }}">{{ cv.contact.email }}</a></span
    >|
    <span
      ><a href="tel: +44{{ cv.contact.phone.slice(1) }}">{{
        cv.contact.phone
      }}</a></span
    >
  </div>
  <div class="social">
    <ul>
      <li *ngFor="let social of cv.profiles">
        <a href="{{ social.url }}" [innerHTML]="social.svg | safe"></a>
      </li>
    </ul>
  </div>
  <div class="summary">
    <p>{{ cv.profile }}</p>
  </div>
</div>
