#cv-profile {
  .location,
  .contact a {
    color: #bbb;
    font-size: 0.8rem;
    text-decoration: none;
  }
}
#profile-info {
  text-align: right;
  .social {
    margin: 0 1rem;
    a {
      color: #bbb;
      text-decoration: none;
      font-size: 0.8rem;
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}
