<section id="cv-profile" class="flex-container">
  <div id="profile-intro">
    <h1>Rob Bailey</h1>
    <h2>Front-End Developer</h2>
    <p class="location">{{ cv.location.city }}, {{ cv.location.country }}</p>
    <p class="contact">
      <a [href]="'Tel: ' + cv.phone">{{ cv.phone }}</a>
    </p>
    <p class="contact">
      <a [href]="'mailto: ' + cv.email">{{ cv.email }}</a>
    </p>
    <p class="profile-summary">{{ cv.summary }}</p>
  </div>
  <div id="profile-info">
    <div class="social-links">
      <span class="social" *ngFor="let profile of cv.profiles"
        ><a [href]="profile.url">{{ profile.name }}</a></span
      >
    </div>
  </div>
</section>
