<div id="profile">
  <div class="name">
    <h2>{{ cv.basics.name }}</h2>
  </div>
  <div class="cv-tagline">
    <span class="subtitle">{{ cv.basics.jobTitle }}</span>
  </div>
  <div class="contact">
    <span
      ><a href="mailto:{{ cv.basics.contact.email }}">{{
        cv.basics.contact.email
      }}</a></span
    >|
    <span
      ><a href="tel: +44{{ cv.basics.contact.phone.slice(1) }}">{{
        cv.basics.contact.phone
      }}</a></span
    >
  </div>
  <div class="summary">
    <p>{{ cv.basics.profile }}</p>
  </div>
</div>
