<div id="homepage-skills-container" class="flex-container">
  <app-card class="col-md-3 skill-item">
    <p>JavaScript</p>
  </app-card>
  <app-card class="col-md-3 skill-item">
    <p>SCSS</p>
  </app-card>
  <app-card class="col-md-3 skill-item">
    <p>TypeScript</p>
  </app-card>
  <app-card class="col-md-3 skill-item">
    <p>Angular</p>
  </app-card>
  <app-card class="col-md-3 skill-item">
    <p>PHP</p>
  </app-card>
  <app-card class="col-md-3 skill-item">
    <p>SQL</p>
  </app-card>
</div>
