#skills-container {
  padding: 2rem 1rem;
  .skill-card {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    .skill-logo {
      width: 100%;
    }
    p {
      width: 100%;
    }
    img {
      width: 100%;
      max-width: 75px;
    }
  }
}
