<app-grid class="content-wrapper" id="skills-container">
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/angular.png" alt="Angular" />
    </div>
    <p>Angular</p>
    <rb-skill-bar rating="90"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/typescript.png" alt="TypeScript" />
    </div>
    <p>TypeScript</p>
    <rb-skill-bar rating="75"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/javascript.png" alt="JavaScript" />
    </div>
    <p>JavaScript</p>
    <rb-skill-bar rating="90"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/nodejs.png" alt="NodeJS" />
    </div>
    <p>
      NodeJS
    </p>
    <rb-skill-bar rating="65"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/php.png" alt="PHP" />
    </div>
    <p>
      PHP
    </p>
    <rb-skill-bar rating="70"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/mysql.png" alt="MySQL" />
    </div>
    <p>
      MySQL
    </p>
    <rb-skill-bar rating="50"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/mongodb.png" alt="MongoDB" />
    </div>
    <p>
      MongoDB
    </p>
    <rb-skill-bar rating="40"></rb-skill-bar
  ></app-card>
  <app-card class="col-lg-3 col-md-6 skill-card flex-container">
    <div class="skill-logo">
      <img src="../../../assets/skill-logos/java.png" alt="Java" />
    </div>
    <p>
      Java
    </p>
    <rb-skill-bar rating="40"></rb-skill-bar
  ></app-card>
</app-grid>
