<div class="flex-container">
  <div class="content-wrapper" id="contact-message">
    <h1>Contact Me</h1>
    <p>
      If you would like to contact me, whether that be for a casual chat or an
      opportunity to work together, please use the details below.
    </p>
    <p>
      <i class="material-icons">
        call
      </i>
      <a href="tel: +447921517093">07921517093</a>
    </p>
    <p>
      <i class="material-icons">
        email
      </i>
      <a href="mailto: rob.bailey3@gmail.com">rob.bailey3@gmail.com</a>
    </p>
  </div>
</div>
