@import url('https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:300,400,500,500i,600');
@import './components/colours';
html,
body {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.8;
  color: color(off-white);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', serif;
  font-weight: 400;
  line-height: 1.15;
  margin: 2rem 0 1rem;
  color: color(off-white);
}

h1 {
  font-size: 4.209em;
  margin-top: 0;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}
