@import url('https://use.typekit.net/aoi7ikg.css');
@import './components/colours';
@import './layout/grid';
$monospace-font: t26-carbon, monospace;
html,
body {
  font-size: 21px;
  font-family: futura-pt, sans-serif;
  line-height: 2;
  color: lighten(color(nearly-black), 15%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt-bold;
  font-weight: 800;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  color: color(nearly-black);
}
@include breakpoint(lg) {
  h1 {
    font-size: 4.209em;
    margin-top: 0;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }
}

a {
  color: color(accent);
}
pre,
code {
  font-family: $monospace-font;
  font-size: 0.95em;
}
