#side-bar {
  background: #1c1c1c;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  z-index: 999;
}
#main-navigation {
  width: 0px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 72px;
  background: rgba(#1c1c1c, 0.98);
  height: 100%;
  z-index: 999;
  transition: 1s cubic-bezier(0.8, -0.4, 0, 1.5);
  &.active {
    width: calc(100% - 72px);
  }
  li {
    list-style: none;
    text-align: center;
    a {
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      padding: 20px 0;
      display: block;
    }
  }
}
