@import '../../../styles/components/colours';

#top-bar {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(13, 16, 21, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  z-index: 999;
  height: 54px;
}

#main-navigation {
  height: 100%;
  width: 225px;
  overflow: hidden;
  padding-top: 100px;
  position: fixed;
  left: -225px;
  background: #fff;
  z-index: 999;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;

  &.active {
    left: 0px;
  }

  #menu-button-container {
    position: absolute;
    top: 15px;
    left: 15px;
    span {
      background: #111;
    }
  }
  ul {
    width: 100%;
  }
  li {
    list-style: none;
    display: block;

    a {
      color: #111;
      text-decoration: none;
      padding: 6px 16px;
      display: block;
      transition: 0.2s;
      display: block;

      &:hover,
      &:focus {
        color: color(primary);
        text-decoration: none;
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}
