@import '../../../styles/components/colours';
#top-bar {
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  z-index: 999;
  .hamburger-btn {
    top: 5px;
  }
}
#main-navigation {
  height: 0px;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100%;
  background: #ffffff;
  z-index: 999;
  transition: 0.7s ease-in-out;
  &.active {
    height: 100%;
    top: 0px;
  }
  #menu-button-container {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  li {
    list-style: none;
    text-align: center;
    a {
      color: color(secondary);
      font-size: 28px;
      text-decoration: none;
      padding: 6px 0;
      display: block;
      transition: 0.2s;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      &:hover,
      &:focus {
        color: color(primary);
        text-decoration: underline;
      }
    }
  }
}
