@import '../../../styles/components/colours';
@import '../../../styles/layout/grid';
#cv-experience {
  .experience-item {
    margin-bottom: 2rem;
  }
  .exp-company {
    font-weight: bold;
    margin-right: 0.5rem;
  }
  .exp-role {
    margin-left: 0.5rem;
  }
  .date {
    color: color(primary);
    font-size: 0.8rem;
    font-variant: small-caps;
    @include breakpoint(md) {
      margin-left: auto;
    }
  }
  .exp-keypoints {
    ul {
      margin-left: 40px;
      padding: 0;
    }
  }
  .skills {
    h3 {
      font-size: 1.2rem;
    }
  }
}
