.experience-item {
  position: relative;
  margin-bottom: 32px;
  padding: 16px;
  border: 1px solid #efefef;
  border-radius: 8px;
  p {
    width: 100%;
  }
  .experience-logo {
    width: 100px;
    position: absolute;
    top: 16px;
    right: 16px;
    img {
      max-width: 100%;
    }
  }
  .experience-date {
    color: #afafaf;
    font-variant: small-caps;
    font-size: 0.95em;
    letter-spacing: 1px;
  }
  .experience-position {
    font-size: 1.1em;
  }
  .experience-company {
    color: #1f1f1f;
    font-variant: small-caps;
  }
  h3 {
    margin-top: 0.4em;
  }
  .experience-responsibilities {
    ul {
      padding-left: 40px;
    }
  }
}
