@import '../../../styles/components/colours';
@import '../../../styles/layout/grid';

:host {
  display: block;
  width: 100%;
}

.homepage-introduction {
  .introduction-item {
    padding: 16px;
    text-align: center;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}

#cv-link-container {
  text-align: center;
  font-size: 22px;
}
