<section class="flex-container introduction-container">
  <div class="content-wrapper">
    <h2>About Rob</h2>
    <p>
      After working within the software industry for a world leading software
      company as a Branding Specialist, I am now looking for my first role as a
      Front-End Developer. I love code and what can be done with it. I am
      fascinated by the latest topics in Computer Science such as Machine
      Learning, Big Data and Cyber Security and I am determined to learn as much
      as I can.
    </p>
  </div>
</section>
<rb-timeline [items]="history" [title]="'My Timeline'"></rb-timeline>
