<div class="homepage-introduction">
  <p>
    After working in the Software Industry as a Tester and, more recently, a
    brander, I am now looking for a transition into Front End Web Development
  </p>
</div>
<rb-timeline [items]="history" [title]="'My Timeline'"></rb-timeline>
<div id="cv-link-container" class="flex-container">
  <div class="col-md-6" id="cv-link-text">
    <h2>Are you looking for a developer?</h2>
    <p>Great news! You're in the right place. Take a look at my CV.</p>
  </div>
  <div class="col-md-6" id="cv-link-button">
    <a [routerLink]="['cv']" class="btn">View My CV</a>
  </div>
</div>
