<div class="homepage-introduction flex-container">
  <div class="introduction-item col-md-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum temporibus
    molestiae, provident voluptate impedit odio officia, unde sequi fuga quia nemo? Vero vitae totam temporibus odit
    soluta fuga doloremque est!</div>
  <div class="introduction-item col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
    voluptatum, magnam illum maxime asperiores, quae, repudiandae voluptas beatae nihil facere facilis fugiat modi
    deleniti animi commodi harum! Deserunt, officiis in!</div>
  <div class="introduction-item col-md-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore consectetur
    iste explicabo itaque facilis facere reprehenderit veritatis soluta, voluptas suscipit voluptate ullam ex sint,
    alias odio molestiae omnis quidem? Perferendis?</div>
</div>
<div id="cv-link-container">
  <a [routerLink]="['cv']" class="btn">View My CV</a>
</div>
