@import '../../../styles/components/colours';
@import '../../../styles/layout/grid';

:host {
  margin-top: 2rem;
}

.introduction-container {
  background: color(nearly-black);
  color: #fff;
  .content-wrapper {
    width: 100%;
    padding: 2rem 1.5rem;
  }
  h2 {
    color: #fff;
    position: relative;
    padding-bottom: 0.8rem;
    &::after {
      content: '';
      height: 5px;
      width: 100px;
      background: color(accent);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
