@import '../../shared/animations/css/_jelly';
@import '../../../styles/layout/grid';
@import '../../../styles/components/colours';

#homepage {
  padding: 16px;
  height: 100vh;
  background: linear-gradient(
    to right,
    color(primary),
    lighten(color(primary), 20%)
  );
}
app-grid {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(to right, #111, #333);
  // border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
  height: 100%;
  #introduction {
    h1 {
      font-size: 6rem;
      color: #fff;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
    }
    p {
      color: #fff;
    }
  }
  #svg-container {
    img {
      max-width: 400px;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4);
    }
  }
}
