<div id="homepage">
  <app-grid>
    <div id="introduction" class="col-sm-6">
      <h1>Hello!</h1>
      <p>I am Rob and I am a {{ age }} year old developer.</p>
    </div>
    <div class="col-sm-6">
      <div class="btn-group">
        <div class="btn-group-item">
          <a href="" class="btn btn-ghost">About Me</a>
        </div>
        <div class="btn-group-item">
          <a href="" class="btn btn-ghost">View my CV</a>
        </div>
        <div class="btn-group-item">
          <a href="" class="btn btn-ghost">View my Projects</a>
        </div>
      </div>
    </div>
  </app-grid>
</div>
