@import '../../shared/animations/css/_jelly';
@import '../../../styles/layout/grid';
@import '../../../styles/components/colours';

#hero {
  display: block;
  width: 100%;
  height: 90%;
  height: 90vh;
}
