<div id="homepage">
  <app-grid>
    <div id="introduction" class="col-sm-6">
      <h1 [@fallIn]>
        <span class="letter">H</span>
        <span class="letter">e</span>
        <span class="letter">l</span>
        <span class="letter">l</span>
        <span class="letter">o</span>
        <span class="letter">!</span>
      </h1>
      <p>I am Rob and I am a {{ age }} year old developer specialising in Front-End Web Development using Angular and TypeScript. </p>
    </div>
    <div class="col-sm-6">
      <div class="btn-group">
        <div class="btn-group-item">
          <a [routerLink]="['about']" class="btn btn-primary">About Me</a>
        </div>
        <div class="btn-group-item">
          <a [routerLink]="['cv']" class="btn btn-primary">View my CV</a>
        </div>
        <!-- <div class="btn-group-item">
          <a href="" class="btn btn-primary">View my Projects</a>
        </div> -->
      </div>
    </div>
  </app-grid>
  <div class="scroll-hint-container">
    <a (click)="scrollDown()" class="scroll-down">
      <i class="material-icons">
        expand_more
      </i>
    </a>
  </div>
</div>
