<section id="hero">
  <app-grid>
    <div class="col-md-6 flex-container">
      <div class="hero-text">
        <h1 [@fallIn]>
          <span class="letter">H</span>
          <span class="letter">e</span>
          <span class="letter">l</span>
          <span class="letter">l</span>
          <span class="letter">o</span>
          <span class="letter">!</span>
        </h1>
        <p>
          I am Rob and I am a {{ age }} year old developer specialising in
          Angular and TypeScript development. I have created this site so
          showcase some of what I can do.
        </p>
      </div>
    </div>
    <div class="col-md-6 flex-container" id="btn-column">
      <div class="btn-group btn-group__vertical">
        <div class="btn-group-item">
          <a routerLink="/cv" class="btn btn-primary">View my CV</a>
          <a href="https://github.com/robbailey3" class="btn btn-primary"
            >View my GitHub</a
          >
        </div>
      </div>
    </div>
  </app-grid>
</section>
