@import '../../../styles/components/colours';
.posts-container {
  padding: 16px;
  .post {
    margin-top: 16px;
    margin-bottom: 16px;
    .post-main {
      padding: 16px;
    }
    .post-image {
      img {
        width: 100%;
      }
    }
    h2 {
      margin: 8px 0 16px;
    }
    h2 a {
      font-size: 1.8rem;
      color: color(primary);
      text-decoration: none;
    }
  }
}
