<div *ngIf="posts" class="flex-container posts-container">
  <div *ngFor="let post of posts" class="post col-md-10 offset-md-1">
    <div class="post-image" *ngIf="post.image !== null || post.image">
      <img [src]="post.image" />
    </div>
    <div class="post-main">
      <div class="post-header">
        <h2>
          <a [routerLink]="[post.slug]">{{ post.title }}</a>
        </h2>
        <div class="post-date">{{ post.date }}</div>
        <div class="post-tags" *ngIf="post.tags">
          <span class="post-tag chip" *ngFor="let tag of post.tags">{{
            tag
          }}</span>
        </div>
      </div>
      <div class="post-description">
        <p [innerHTML]="post.description"></p>
      </div>
      <div class="btn-container">
        <a [routerLink]="[post.slug]" class="btn read-more">Read more</a>
      </div>
    </div>
  </div>
</div>
<div id="no-posts" *ngIf="!posts || posts.length == 0">
  <p>Sorry, there are currently no posts.</p>
</div>
