@import '../../../styles/layout/grid';
#header-image {
  width: 100%;
  max-height: 60vh;
  overflow: hidden;
  img {
    width: 100%;
  }
}
#post-info {
  @include breakpoint(md) {
    max-width: (100 / 16) * 10%;
    margin: auto;
  }
  .post-date {
    color: #6f6f6f;
    letter-spacing: 4px;
  }
}
.post-content {
  display: grid;
  grid-template-columns: 1fr 2fr 10fr 2fr 1fr;
  line-height: 1.85;
  p,
  div,
  pre,
  code,
  ul,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr {
    grid-column: 2;
    grid-column-end: 5;
    @include breakpoint(md) {
      grid-column: 3;
    }
  }
  ul,
  ol {
    margin-left: 40px;
  }
  img,
  table,
  figure,
  picture {
    grid-column: 2;
    grid-column-end: 5;
    max-width: 100%;
  }
  pre,
  code {
    white-space: pre-line;
  }
  pre.prettyprint {
    padding: 16px;
    border-radius: 3px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #333;
    margin: 8px 0;
  }
}
#disqus_thread {
  max-width: 1200px;
  margin: auto;
  padding: 16px;
}
