@import '../../../styles/components/colours';
@import '../../../styles/layout/grid';

#cv-education {
  .education-item {
    margin-bottom: 2rem;
  }
  .edu-institution {
    margin-right: 0.5rem;
    font-weight: bold;
  }
  .edu-qualification {
    margin-left: 0.5rem;
  }
  .edu-grade {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: #444;
    line-height: 2.4;
  }
  .date {
    color: color(primary);
    font-size: 0.8rem;
    font-variant: small-caps;
    @include breakpoint(md) {
      margin-left: auto;
    }
  }
}
