<div
  id="albums-container"
  *ngIf="albums"
  class="flex-container content-wrapper"
>
  <div class="album col-md-4" *ngFor="let album of albums">
    <img src="{{ album.path }}" alt="{{ album.caption }}" class="album-image" />
    <div class="overlay"></div>
    <h2>
      <a [routerLink]="[album.albumID]">{{ album.name }}</a>
    </h2>
  </div>
</div>
<div id="no-albums" *ngIf="!albums || albums.length < 1">
  <p>Ooops... There's no photos to display here. Try again later.</p>
</div>
<div class="ig-feed content-wrapper">
  <!-- LightWidget WIDGET -->
  <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
  <iframe
    src="//lightwidget.com/widgets/e612719870595776be9440951b698e91.html"
    scrolling="no"
    allowtransparency="true"
    class="lightwidget-widget"
    style="width:100%;border:0;overflow:hidden;"
  ></iframe>
</div>
