/* You can add global styles to this file, and also import other style files */
@import './styles/layout/grid';
@import './styles/typography';
@import './styles/accessibility';
@import './styles/components/chips';
@import './styles/components/buttons';
@import './styles/components/colours';
@import './styles/components/form-items';
@import './styles/components/code';
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: color(background);
}

.content-wrapper {
  max-width: 440px;
  margin: auto;
  @include breakpoint(sm) {
    max-width: 500px;
  }
  @include breakpoint(md) {
    max-width: 750px;
  }
  @include breakpoint(lg) {
    max-width: 950px;
  }
  @include breakpoint(xl) {
    max-width: 1200px;
  }
  @include breakpoint(xxl) {
    max-width: 1400px;
  }
}
