<section id="skills" *ngIf="skills">
  <h2>Skills</h2>
  <div class="skill-category" *ngFor="let category of skills">
    <h3>{{ category.title }}</h3>
    <div class="flex-container">
      <div
        class="skill-container col-lg-4 col-md-6"
        *ngFor="let skill of category.content"
      >
        <p class="skill-name">{{ skill.name }}</p>
        <div class="skill-bar-container">
          <div class="skill-bar" #skillBar>
            <div class="tooltip">{{ skill.rating }}</div>
            <div class="skill-bar-content" [style.width]="skill.rating"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
