@import '../../../styles/components/colours';

#cv-skills {
  h3 {
    width: 100%;
    margin: 1rem 0;
  }
  .skill {
    margin-bottom: 2rem;
    font-weight: bold;
  }
  rb-skill-bar {
    margin: 0;
  }
}
