@import '../../../styles/components/colours';

#page-footer {
  background: linear-gradient(60deg, darken(color(primary), 40%), color(primary));
  margin-top: 25px;

  #in-development {
    padding: 16px;
    max-width: 450px;
    color: #fff;
    font-size: 20px;

    a {
      font-weight: bold;
      color: #fff;
    }
  }
}
