@import '../../../styles/components/colours';
@import '../../../styles/layout/grid';

#page-footer {
  background: color(nearly-black);
  margin-top: 3rem;
  color: #fff;
  .footer-wrapper {
    padding: 2rem 0;
  }
  h2 {
    font-size: 18px;
    color: #fff;
    margin: 0;
  }
  #footer-bio {
    @include breakpoint(md) {
      padding-right: 2rem;
    }
    p {
      color: #fff;
    }
  }
  #footer-nav {
    ul {
      list-style: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover,
      &:focus {
        color: #dfdfdf;
        text-decoration: underline;
      }
    }
  }
  #footer-social {
    .social-section {
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
    }
    a {
      color: #fff;
      text-decoration: none;
    }
    img {
      width: 40px;
      margin: 1rem 1rem 0 0;
    }
  }
  #footer-bottom {
    background: color(accent);
    padding: 0.5rem 0;
    font-size: 14px;
    #angular {
      max-width: 50%;
      @include breakpoint(md) {
        margin-left: auto;
      }
      svg {
        width: 20px;
        height: 20px;
        vertical-align: text-bottom;
      }
    }
  }
}
